
<h1>Your Product Status</h1>

<h4> 
Product Count: 
<%= @product_count %>
</h4>
<h4>
Category Count: 
<%= @category_count %>
</h4>



# Try to make it look nice, using Bootstrap 3 elements.
# Link to the product and category admin list/index pages when displaying the counts.